* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo-text {
  margin-left: 12px;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  line-height: 1; /* ensures consistent vertical spacing */
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
}
nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.7); /* semi-transparent */
  backdrop-filter: blur(6px); /* modern blur effect */
}

.logo {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px; /* or 50px, depending on navbar height */
  width: auto; /* maintains aspect ratio */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    background-color: #1e1e1e;
    position: absolute;
    top: 60px;
    right: 30px;
    display: none;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }
}

.contact-btn {
  padding: 10px 20px;
  border: 2px solid turquoise;
  background-color: turquoise;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}
